<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.openbike" android:versionCode="8" android:versionName="Beta 2.1">
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true" />
	<application android:icon="@drawable/icon" 
		android:label="@string/app_name"
		android:name=".OpenBike"
        android:theme="@style/Theme.IOSched"> <!--  android:debuggable="true"-->
		<uses-library android:name="com.google.android.maps" />
		<service android:name=".service.LocationService" />
        <service android:name=".service.SyncService" />
		<activity android:name=".ui.HomeActivity"
			android:launchMode="singleTop" 
			android:theme="@style/Theme.IOSched.Home" 
			>
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			</activity>
			
		<activity android:name=".ui.OpenBikeListActivity"
			android:label="@string/app_name" android:launchMode="singleTop"
			android:theme="@android:style/Theme.NoTitleBar">
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<!--
					No category needed, because the Intent will specify this class
					component
				-->
			</intent-filter>
		</activity>
		<activity android:name=".ui.OpenBikeMapActivity"
			android:launchMode="singleTop" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".ui.ListFilterActivity"
			android:label="@string/configuration_title" />

		<activity android:name=".ui.MapFilterActivity"
			android:label="@string/configuration_title" />
		<activity android:name=".ui.StationMapFilterActivity"
			android:label="@string/configuration_title" />
		<activity android:name=".ui.StationDetails" android:launchMode="singleTop"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter priority="100">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.openbike.station" />
			</intent-filter>
		</activity>

		<meta-data android:name="android.app.default_searchable"
			android:value=".list.OpenBikeListActivity" />

		<provider android:name=".database.StationsProvider"
			android:authorities="fr.openbike.StationsProvider" />
	</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest> 
